/* Colors used

Text Color (Dark Gray): #2b2b2b;
Primary Color (Begonia): #f27578;
Secondary Color (Purple): #9d79e5;
Tertiary Color (Light purple): #CDBCF2;
*/

:root {
  --primary-color: #f27578;
  --secondary-color: #9d79e5;
  --tertiary-color: #cdbcf2;
  --text-color: #2b2b2b;
  --font-size-basic: 16px;
  --font-size-h1: 36px;
  --font-size-h2: 30px;
  --font-size-h3: 24px;
  --font-weight-basic: 400;
  --font-weight-headers: 700;
  --line-height-basic: 1.6;
}

body {
  font-family: 'Montserrat', sans-serif;
  font-weight: var(--font-weight-basic);
  font-size: var(--font-size-basic);
  line-height: var(--line-height-basic);
  color: var(--text-color);
}

* {
  box-sizing: border-box;
}

h1 {
  font-size: var(--font-size-h1);
  font-weight: var(--font-weight-headers);
}

h2 {
  font-size: var(--font-size-h2);
  font-weight: var(--font-weight-headers);
}

h3 {
  font-size: var(--font-size-h3);
  font-weight: var(--font-weight-headers);
}

a {
  color: var(--primary-color);
  position: relative;
}

.svg-link {
  text-decoration: none;
  color: lightgray;
  font-size: 10px;
}

.hint {
  color: lightgray;
  font-size: 10px;
}

.button {
  background-color: var(--primary-color);
  display: inline-block;
  color: white;
  border: none;
  border-radius: 3px;
  padding: 10px;
  font-family: inherit;
  text-decoration: none;
  transition: box-shadow 0.2s, opacity 0.2s;
}

.button:hover,
.button:focus {
  cursor: pointer;
  box-shadow: 5px 5px 18px #888;
  opacity: 0.8;
}

/* Header, navigation with underline effect */
.page-header {
  display: flex;
  width: 100%;
  padding: 20px;
}

.page-header__item {
  flex: 0 1 200px;
  height: 61px;
}

.page-header__item:last-child {
  flex-grow: 1;
  text-align: right;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.navigation-list {
  list-style-type: none;
}

.navigation-list__item {
  display: inline-block;
  margin: 0;
  width: 20%;
  padding: 0.2rem 0;
  text-decoration: none;
  text-align: center;
  color: var(--text-color);
}

.navigation-list__item::before,
.navigation-list__item::after {
  position: absolute;
  top: 17px;
  left: 50%;
  width: 50px;
  height: 50px;
  border: 4px solid var(--tertiary-color);
  transform: translateX(-50%) translateY(-50%) scale(0.8);
  border-radius: 50%;
  background: transparent;
  content: "";
  opacity: 0;
  transition: all 0.3s;
  z-index: -1;
}

.navigation-list__item::after {
  border-width: 2px;
  transition: all 0.4s;
}

.navigation-list__item:hover::before {
  opacity: 1;
  transform: translateX(-50%) translateY(-50%) scale(1);
}

.navigation-list__item:hover::after {
  opacity: 1;
  transform: translateX(-50%) translateY(-50%) scale(1.3);
}

.dropbtn {
  display: none;
  font-size: 15px;
}

.dropdown-content {
  display: none;
  border-radius: 3px;
  position: absolute;
  background-color: #f9f9f9;
  max-width: 160px;
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.dropdown-content a {
  float: none;
  font-size: 15px;
  color: var(--text-color);
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

/* Profile content of index.html */
.profile {
  max-width: 700px;
  margin: 100px auto;
}

.profile__portrait {
  width: 100%;
  max-width: 250px;
  margin-right: 40px;
  margin-bottom: 40px;
  border-radius: 50%;
  box-shadow: 5px 5px 18px #888;
}

.profile__text {
  max-width: 400px;
}

.profile__text h1 {
  margin-top: 0;
}

.wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: flex-start;
}

.about {
  max-width: 700px;
  margin: 100px auto;
}

.about__table {
  width: 80%;
  margin: 0 auto;
}

.about__table th {
  text-align: center;
  border-bottom: 1px solid var(--tertiary-color);
}

.harbour {
  width: 100%;
  height: auto;
}

.contact {
  max-width: 700px;
  margin: 100px auto;
}

#message {
  width: 100%;
  height: 150px;
}

.error-message {
  font-size: 12px;
  color: red;
}

.work {
  max-width: 700px;
  margin: 100px auto;
}

footer {
  clear: both;
  text-align: center;
  margin-top: 100px;
}

.socialMlogos {
  width: 32px;
}

.cv {
  text-align: center;
  margin: 50px 0;
}

/* Grid Layout for work.html */

/* Fallback Grid */
.project-list__item {
  display: inline-block;
  width: 33%;
}

/* Styling CSS grid */
.project-list {
  display: -ms-grid;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 5px;
}

.project-list__item {
  width: auto;
  height: 300px;
  perspective: 1000px;
}

.project-list__item.hover .project-list__item--inner {
  transform: rotateY(180deg);
}

.project-list__item--inner {
  position: relative;
  width: 100%;
  height: 100%;
  transition: 0.3s;
  transform-style: preserve-3d;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
}

.project-list__item--front,
.project-list__item--back {
  padding: 5px;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  -webkit-transform-style: preserve-3d;
  transform-style: preserve-3d;
  position: absolute;
  top: 0;
  left: 0;
}

.project-list__item--front {
  color: white;
  z-index: 2;
  -webkit-transform: rotateY(0deg);
  transform: rotateY(0deg);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.project-list__item--back {
  -webkit-transform: rotateY(-180deg);
  transform: rotateY(-180deg);
  background-color: white;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  text-align: left;
}

.project-list__item--back span {
  background-color: #49dcb1;
  font-size: 12px;
  display: inline-block;
  color: white;
  margin: 5px;
  padding: 5px;
}

.project-list__item--back p {
  margin: 0;
}

.project-list__item--button {
  margin-top: 25px;
  text-align: center;
}

.frontButton {
  background-color: transparent;
  width: auto;
  padding: 5px;
  border-radius: 3px;
  border: 2px solid white;
  cursor: pointer;
  color: white;
  outline: none;
}

.backButton {
  background-color: transparent;
  font-size: 20px;
  width: 20px;
  padding: 5px;
  border: none;
  border-radius: 3px;
  cursor: pointer;
  outline: none;
  text-align: left;
}

.blue {
  background-color: #006494;
}

.black {
  background-color: black;
  color: #f9c22e;
}

.purple {
  background-color: #ce84ad;
}

.green {
  background-color: #5fad56;
}

.rose {
  background-color: #b4436c;
}

.spring {
  background-color: #c3e991;
}

.red {
  background-color: #df3b57;
}

.sunny {
  background-color: #470ff4;
}

/* Keyframes */

@keyframes crane-move {
  from {
    transform: translate(0, 0);
  }

  to {
    transform: translate(-800px, 0);
  }
}

@keyframes ship-move {
  from {
    transform: translate(0, 0);
  }

  to {
    transform: translate(2500px, 800px);
  }
}

@keyframes cloud-left-move {
  from {
    transform: translate(0, 0);
  }

  to {
    transform: translate(2500px, 800px);
  }
}

@keyframes cloud-top-move {
  from {
    transform: translate(0, 0);
  }

  to {
    transform: translate(2500px, -600px);
  }
}

@keyframes cloud-right-move {
  from {
    transform: translate(0, 0);
  }

  to {
    transform: translate(-5000px, 0);
  }
}

@keyframes bounceInLeft {
  from,
  60%,
  75%,
  90%,
  to {
    -webkit-animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
    animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
  }

  0% {
    opacity: 0;
    -webkit-transform: translate3d(-3000px, 0, 0);
    transform: translate3d(-3000px, 0, 0);
  }

  60% {
    opacity: 1;
    -webkit-transform: translate3d(25px, 0, 0);
    transform: translate3d(25px, 0, 0);
  }

  75% {
    -webkit-transform: translate3d(-10px, 0, 0);
    transform: translate3d(-10px, 0, 0);
  }

  90% {
    -webkit-transform: translate3d(5px, 0, 0);
    transform: translate3d(5px, 0, 0);
  }

  to {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}

@keyframes bounceInRight {
  from,
  60%,
  75%,
  90%,
  to {
    -webkit-animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
    animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
  }

  from {
    opacity: 0;
    -webkit-transform: translate3d(3000px, 0, 0);
    transform: translate3d(3000px, 0, 0);
  }

  60% {
    opacity: 1;
    -webkit-transform: translate3d(-25px, 0, 0);
    transform: translate3d(-25px, 0, 0);
  }

  75% {
    -webkit-transform: translate3d(10px, 0, 0);
    transform: translate3d(10px, 0, 0);
  }

  90% {
    -webkit-transform: translate3d(-5px, 0, 0);
    transform: translate3d(-5px, 0, 0);
  }

  to {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}

.bounceInRight {
  animation: 0.5s bounceInRight;
}

.bounceInLeft {
  animation: 1s bounceInLeft;
}

.crane-move {
  animation: 4s crane-move infinite alternate linear;
}

.ship-move {
  animation: 7s ship-move infinite alternate linear;
}

.cloud-left-move {
  animation: 7s cloud-left-move infinite alternate linear;
}

.cloud-top-move {
  animation: 10s cloud-top-move infinite alternate linear;
}

.cloud-right-move {
  animation: 20s cloud-right-move infinite alternate linear;
}

/* Media Queries */

@media all and (max-width: 500px) {
  .project-list {
    grid-template-columns: 1fr;
    grid-gap: 10px;
  }

  .project-list__item:last-child {
    grid-column: auto / auto;
    grid-row: auto / auto;
  }

  .project-list__item--front h2 {
    font-size: 30px;
  }

  h1 {
    font-size: 24px;
    text-align: center;
  }

  h2 {
    font-size: 20px;
  }

  h3 {
    font-size: 16px;
  }

  .profile__text--buttons {
    text-align: center;
  }

  .profile__text--buttons a {
    margin: 15px 0;
  }

  .profile__portrait {
    margin-right: 0;
    margin-bottom: 40px;
  }

  .project-list__item--back span {
    font-size: 16px;
  }
}

@media all and (max-width: 700px) {
  .page-header {
    padding-top: 0;
  }

  .navigation-list__item {
    display: none;
  }

  .dropbtn {
    display: block;
  }

  .profile,
  .contact,
  .about,
  .work {
    margin-top: 25px;
    padding: 0 10px;
  }

  .about__table {
    width: 100%;
  }
}

@media all and (min-width: 501px) and (max-width: 700px) {
  .profile__portrait {
    margin: 0 20px 40px;
  }
}

@media all and (min-width: 501px) and (max-width: 600px) {
  .project-list {
    grid-template-columns: 1fr 1fr;
  }
}
